/* php file internal css */
        .ul-cicle {
            top: 290px;
            padding-bottom: 150px;
        }
        @media (max-width: 767px) {
            .ul-cicle {
                top: 980px;
            }
        }
        .ul-cicle2 {
            top: 180px;
            margin-bottom: 50px;
        }
        @media (max-width: 767px) {
            .ul-cicle2 {
                top: 390px;
            }
        }
        .toggle,
        .toggler {
            display: inline-block;
            vertical-align: middle;
            margin: 10px;
        }
        .toggler {
            float: left;
            font-size: 1.8rem;
            transition: .2s;
        }
        .toggler--is-active {
            font-size: 1.8rem;
            color: #3a6dd6;
        }
        .toggle {
            font-size: 1.8rem;
            width: 50px;
            float: left;
            height: 20px;
            top: 10px;
            border-radius: 100px;
            background-color: #3a6dd6;
            overflow: hidden;
            position: relative;
            box-shadow: inset 0 0 2px 1px rgba(0, 0, 0, 0.05);
        }
        .check {
            position: absolute;
            display: block;
            cursor: pointer;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            opacity: 0;
            z-index: 6;
        }
        .check:checked ~ .switch {
            right: 2px;
            left: 65.5%;
            transition: 0.25s cubic-bezier(0.785, 0.135, 0.15, 0.86);
            transition-property: left, right;
            transition-delay: .08s, 0s;
            width: 15px;
            height: 15px;
        }
        .switch {
            position: absolute;
            left: 2px;
            top: 2px;
            bottom: 2px;
            width: 17px;
            right: 37.5%;
            background-color: #fff;
            border-radius: 36px;
            z-index: 1;
            transition: 0.25s cubic-bezier(0.785, 0.135, 0.15, 0.86);
            transition-property: left, right;
            transition-delay: 0s, .08s;
            box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
        }

/* End */


/*Css for Plane Section 17-08-2016*/
.loader {
    background-color: #ffffff;
    background-image: url("../images/loading.gif");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 75px auto;
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 9999;
	display:none\9; /* IE6, IE7, IE8, IE9 */
}

/*Change the size here*/
.secondheader .navbar-right {margin-right: 0;}

.tooltip-inner {font-family: gotham-rounded-light; font-weight:700;}
.alignmentForm .switch-wrapper {
    display: inline-block;
    padding: 20px 0;
    text-align: center;
    width: auto;
}
.alignmentForm .switch-wrapper .toggle, .alignmentForm .switch-wrapper .toggler {
    display: inline-block;
    float: none;
    margin: 0 !important;
    padding: 0 15px;
}
.alignmentForm .switch-wrapper .toggle {
    float: none;
    top: 0;
}

.plane_scrollSec {}
.plane_scrollSec .stage-icon {
    text-align: left; position:relative;
}
.plane_scrollSec .planeIcon, .plane_scrollSec .percentageDone, .plane_scrollSec .progress-bar, .plane_scrollSec .planeIcon img {
	 -webkit-transition:width 1.6s ease;
	 -o-transition:width 1.6s ease;
	 transition:width 1.6s ease;
}
.plane_scrollSec .percentageDone {
    color: #3a6dd6;
    display: inline-block;
    font-size: 12px;
    font-weight: bold; width:0%;
}
.plane_scrollSec .progress {
    background-image: url("../images/progressBg.jpg");
    background-position: center center;
    background-repeat: repeat-x;
    border-radius: 0;
    height: 10px;
    margin-bottom: 3px;
}
.plane_scrollSec .progress-bar {
    background-image: url("../images/progressDone.jpg");
}
.plane_scrollSec .planeIcon img {
    bottom: 0px;
    max-width: 80px;
    position: absolute; right:0px;
}
.plane_scrollSec .flagIcon {
    bottom: 32px;
    position: absolute;
    right: 0;
}
.plane_scrollSec .flagIcon img {max-height:22px;}
.error{ border:1px solid red;}
.error:focus{ box-shadow: 0px 0px 1px #ff0000;}
.secondheader .navbar {margin-bottom: 10px;}
#tabberGreybox{ display: none;}
.next-btn-box{margin:4.0rem auto 2.0rem;}

.search-box-left {margin-right: 0px; height: 50px;}
.secondheader .dropdown-menu > li > a {font-weight: bold !important;}
.alignmentForm .wrapper-travelstage span.text-savings.text-savings {font-weight: bold; padding-bottom: 15px;}

/*css for alignment form */
.padding_top{padding-top: 10px;}
.padding_top .wrapper-travelstage{padding-top: 20px !important;}
.algnForm_paddNone{padding-top: 0px;}

.alignmentForm .cl-md-wf-3 label{padding-left: 0;}
.alignmentForm .cl-md-wf-5 {
    width: 100%;
    margin: 30px auto 30px !important;
}
.alignmentForm .cl-md-wf-5  .plan-my-travel-btn-wrapper{margin:0 auto; }
.alignmentForm .cl-md-wf-5  #success-text{margin-top: 5px;}
.titlePadBottNone{ padding-bottom: 0px;}
.groupPicSize {height: 140px;}
.groupPicSize img {
    height: auto;
    max-height: 100%;
    max-width: 100%;
    width: auto;
}

/*.homeFormSlider{min-height:320px;}*/
.dsp-block {
	display: block;
	width: 60%;
    text-align: center;
	margin: 0 auto;
	padding-left: 10px;
}

/*=======*/

/*.white-blog-btn, .white-blog-btn:hover{margin:20px auto;}*/

.destinationsSlider h2.dark-blue-text {
    padding-bottom: 10px;
}
.alignmentForm .travel-form-stage_inn .margin-travel-input_b{ position:relative; width:100%;}
.logoTab{ display:none;}
.checkOutFull{}
.checkOutFull a{ text-decoration:none;}
.city_bgBox .row-wrapper h1 {
    margin-bottom: 38px;
}
.city_bgBox .row-wrapper #maincontent {
    margin-bottom: 30px;
}
/*.footer .disclaimer{ padding-top: 8px;}*/
.alignmentForm .wrapper-travelstage .left-no-padding .dsp-block, .alignmentForm .wrapper-travelstage .left-no-padding .travel-input-1 {width: 100%; margin-left: 0;}
.alignmentForm .wrapper-travelstage .left-no-padding .dsp-block{padding-left: 0;}
.alignmentForm .wrapper-travelstage .left-no-padding{
    padding-left: 20px !important;
    padding-right: 20px !important;
}
/*.nav-tabs>li>a {
    text-align: center;
}*/

@media (max-width: 767px) {

.travel-bg .row-wrapper, .child-bg .row-wrapper, .travel-bg .stage-icon, .child-bg .stage-icon  {padding: 0 15px; width: 100%;}
.travel-bg .dark-blue-text, #tabberGreybox h2.dark-blue-text, .destinationsSlider h2.dark-blue-text, .city_bgBox .row-wrapper h1, .child-bg .row-wrapper h2.dark-blue-text, .child-description-left h2, .child-description-right h2{
    font-size: 20px;
    line-height: 26px;
}
.articleGreyBox .col-sm-4, .destinationsSlider .city-box, .destinationsSlider .city-box .carousel-inner .col-sm-3{padding:0px;}
.homeFormSlider {min-height: 300px;}
.travel-bg .dark-blue-text, .child-bg .dark-blue-text {
    margin-top: 0;
}
.travel-bg, .child-bg{
	background:none;
	background-color:#fff;
    background-size: contain;
    padding-top: 22px;
}
.next-btn-box .next-btn {display:inline-block; padding: 15px 90px 15px 90px; width:auto; text-align:center; margin:0px !important;}
.alignmentForm {padding-top: 10px;}
.secondheader .navbar-collapse  .navbar-nav {
    margin: 0 -15px 7.5px;
}
.plane_scrollSec .flagIcon {right: 15px;}
.ballon_scrollSec .RightIcon {
    right: 12px !important;
}
.travel-form-stage_a {
    height: auto;
    margin: auto;
    width: 100%;
}
.plane_scrollSec .planeIcon {
    height: 30px;
    min-width: 50px;
}
.plane_scrollSec .planeIcon img {max-width: 50px;}
.groupPicSize {height: 90px;}
.people-count .numbPeople {
    padding: 10px 0 8px;
    text-align: center;
}
.people-count .peopleCounterBox {
	width: 130px;
	margin: 0 auto;
}
.alignmentForm .wrapper-travelstage .col-xs-6 {
    margin: 6px auto;
    /* padding-left: 15px !important;
    padding-right: 15px !important; */
	padding-left: 0px !important;
    padding-right: 0px !important;
    width: 100% !important;
}
.alignmentForm .travel-form-stage_inn .travel-head-text{padding-top: 0;}
.alignmentForm .wrapper-travelstage .travel-input-1 {padding: 14px 0;}
.city_bgBox {
    min-height: inherit;
    padding-top: 15px;
	background-color: #000;
	background-image: linear-gradient(-39deg, #282f32 0%, #56676e 100%);
}
.city_bgBox .pl-heading {padding-top: 0;}
.dsp-block {
	width: 100%;
}
#tabberGreybox .nav-tabs > li > a {
    font-size: 16px;
    padding: 10px;
    text-align: center;
}
#tabberGreybox .tab-in {width: 100%;}

#tabberGreybox .applywrapper {width: 100%; text-align:center;}
#tabberGreybox .get-me-lowest-rates-btn {
    max-width: 250px;
    padding: 8px 0;
}
.articleGreyBox {padding-top: 0px;}
.articleGreyBox .margin-75 {margin-top: 15px;}
.articleGreyBox br, .destinationsSlider br{ display:none;}
.articleGreyBox .button-wrapper {
    display: inline-block;
    margin: 15px 0;
    width: 100%;
	position:inherit;
	text-align:center;
}
.articleGreyBox .see-more-article-btn {
    display: inline-block;
    margin-top: 0 !important;
    padding: 10px;
    width: 230px;
}
.articleGreyBox img { height:auto;}

.destinationsSlider {padding-top: 5px; padding-bottom: 0px;}
.destinationsSlider h2.dark-blue-text {
    margin-top: 20px;
    padding-bottom: 5px;
}
.destinationsSlider .city-box {margin-bottom: 45px;}
.destinationsSlider .city-box .carousel-inner .col-sm-3{margin-top: 18px;}
 .destinationsSlider .ul-cicle {
    bottom: -35px;
    padding: 0;
    top: inherit;
}
.city_bgBox {
    padding-bottom: 35px;
    padding-top: 20px;
}
.city_bgBox .row-wrapper{padding: 0; width:100%;}
.city_bgBox .row-wrapper br{ display:none;}
.city_bgBox .row-wrapper h1 {
    line-height: 30px;
    margin-bottom: 15px;
    margin-top: 5px;
}
span.customSelect, .alignmentForm .travel-form-stage_inn select#location {width: 100%; max-width: 100%;}
.alignmentForm .wrapper-travelstage span.text-savings.text-savings {
    display: inline-block;
    font-weight: bold;
    text-align: center;
    width: 100%;
}
.destinationsSlider .row-wrapper{width:100%; padding: 0 15px;}
.destinationsSlider .row-wrapper .container{padding: 0;}
.footer .col-sm-3, .footer .disclaimer{padding: 0 15px;}
.checkOutFull a {
    display: inline-block;
    float: left;
    width: 50% !important;
}
.alignmentForm .cl-md-wf-5 .plan-my-travel-btn-wrapper .next-btn {
    display: inline-block;
    margin: 0 auto !important;
    padding: 15px;
}
#tabberGreybox {
    padding-bottom: 15px;
    padding-top: 0px;
}
#tabberGreybox .tab-bg {margin-top: 20px;}
#tabberGreybox .tab-bg br, #tabberGreybox .tab-bg .tab-in-head {display:none;}
.alignmentForm .cl-md-wf-5 {margin: 10px auto !important;}
}


@media (max-width: 480px) and (min-width: 200px){
.checkOutFull a {width: 100% !important;}
}

@media (max-width: 1199px) and (min-width: 768px){

.alignmentForm .travel-form-stage_inn {min-width: 350px;}
.destinationsSlider .city-box{padding:0;}
.destinationsSlider .city-box {
    margin-bottom: 45px;
}
.articleGreyBox .container {
    padding: 0 ;
}
.articleGreyBox .container .col-sm-4 {
    padding: 0 10px;
}
.destinationsSlider .city-box .carousel-inner .col-sm-3 {
    padding: 0 10px;
}
.articleGreyBox .button-wrapper {
    display: inline-block;
    margin: 15px 0;
    width: 100%;
	position:inherit;
	text-align:center;
}
.articleGreyBox .see-more-article-btn {
    display: inline-block;
    margin-top: 0 !important;
    padding: 10px;
    width: 230px;
}
.travel-bg .dark-blue-text, #tabberGreybox h2.dark-blue-text, .destinationsSlider h2.dark-blue-text, .city_bgBox .row-wrapper h1 {
    font-size: 24px;
    line-height: 34px;
}
.articleGreyBox br, .destinationsSlider br {
    display: none;
}
.destinationsSlider .city-box .carousel-inner .col-sm-3 {
    margin-top: 18px;
}
.destinationsSlider .ul-cicle {
    bottom: -35px;
    padding: 0;
    top: inherit;
}
.alignmentForm .travel-form-stage_a, .alignmentForm .plan-my-travel-btn-wrapper {width: 100%;}
.alignmentForm .tab-in {
    padding: 10px 30px !important;
    width: 100%;
}
.alignmentForm .nav-tabs > li > a {
    font-size: 15px;
    padding: 15px !important;
    text-align: center;
}
.city_bgBox {
    padding-bottom: 40px;
    padding-top: 30px;
}
.city_bgBox .row-wrapper h1 {
    margin-bottom: 20px;
    margin-top: 0;
}
#tabberGreybox .nav-tabs > li > a {
    font-size: 15px;
    padding: 15px !important;
    text-align: center;
}
#tabberGreybox .tab-in {
    padding: 10px 30px;
    width: 100%;
}
.city_bgBox .cl-5-wf {
    display: inline-block;
    min-height: 110px;
    padding: 5px 15px;
    width: 47%;
}
.city_bgBox .white-blog-btn, .city_bgBox .white-blog-btn:hover {margin: 20px auto;}
.alignmentForm .tab-bg {padding: 0 0 30px;}
.footer {
    padding-bottom: 30px;
    padding-top: 30px;
}
.articleGreyBox .margin-75 {margin-top: 0;}
.articleGreyBox {
    padding-bottom: 26px;
    padding-top: 34px;
}
.destinationsSlider {
    padding-bottom: 10px;
    padding-top: 10px;
}
.destinationsSlider h2.dark-blue-text {
    margin-top: 15px;
    padding-bottom: 0;
}
.alignmentForm .wrapper-travelstage .travel-input-1.travel-input-1 {
    margin-left: 0;
    width: 100%;
}
.alignmentForm .wrapper-travelstage .dsp-block {
    padding-left: 0;
    width: 100%;
}
.alignmentForm .wrapper-travelstage .left-no-padding {
    padding-left: 8px !important;
    padding-right: 8px !important;
}
#tabberGreybox{
    padding-bottom: 35px;
    padding-top: 0rem;
}
#tabberGreybox .tab-bg {
    margin-top: 30px;
    padding: 0 0 20px;
}
#tabberGreybox .tab-bg br, #tabberGreybox .tab-bg .tab-in-head {display:none;}
.alignmentForm .cl-md-wf-5  .plan-my-travel-btn-wrapper .next-btn{ /*display:block !important;*/  margin: 0px auto !important;}

.articleGreyBox img {
    height: auto;
}

}

/* Responsive end */

.footer a{color: #ffffff;}



.ul-cicle{top:100px;}@media (max-width: 767px) {.ul-cicle{top:250px;}}
.ul-cicle2{top:180px; margin-bottom:50px;}@media (max-width: 767px) {.ul-cicle2{top:390px;}}


}
@media (min-width: 768px) {
.hintanchor {
    font-size: 12px;
    color: #D50000;
    background: #FFF;
    padding: 0px 5px 0px 5px;
    margin-top: 3px !important;
    width: 100%;
}
